header {
	padding: 20px;
	font-family: Helvetica;
	text-align: center; 
}

.list1 {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul > li {
	display: inline-block;
}

.portrait-circle {
  position: relative;
  width: 600px;
  height: 600px;
  overflow: hidden;
  border-radius: 50%;
}

.portrait-circle img {
	width: 100%;
  height: auto;
}

/*ul {
    position: fixed;
    bottom: 0;
    width: 100%;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}
li a {
    color: #666;
}
For footer
	border-style: solid;
	border-width: 1px;*/

